<div class="home">
    <img src="../../assets/circle.png" class="home__pic home__pic--circle">
    <img src="../../assets/grid-1.png" class="home__pic home__pic--grid-1">
    <img src="../../assets/grid-2.png" class="home__pic home__pic--grid-2">
    <img src="../../assets/wave-big.png" class="home__pic home__pic--wave-big">
    <img src="../../assets/wave-small.png" class="home__pic home__pic--wave-small home__pic--wave-small-1">
    <img src="../../assets/wave-small.png" class="home__pic home__pic--wave-small home__pic--wave-small-2">
    <img src="../../assets/dots.png" class="home__pic home__pic--dots">
</div>
